<!-- Modal -->
<div class="modal fade" id="addcameraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Camera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="companyname" class="col-form-label">会社名:</label>
                        <input type="text" class="form-control" id="companyname">
                    </div>

                    <div class="form-group">
                        <label for="placename" class="col-form-label">現場名:</label>
                        <input type="text" class="form-control" id="placename">
                    </div>

                    <div class="form-group">
                        <label for="positionorder" class="col-form-label">Position Order:</label>
                        <select id="positionorder" class="form-control">
                            <option value="1">Camera 01</option>
                            <option value="2">Camera 02</option>
                            <option value="3">Camera 03</option>
                            <option value="4">Camera 04</option>
                            <option value="5">Camera 05</option>
                            <option value="6">Camera 06</option>
                            <option value="7">Camera 07</option>
                            <option value="8">Camera 08</option>
                            <option value="9">Camera 09</option>
                            <option value="10">Camera 10</option>
                            <option value="11">Camera 11</option>
                            <option value="12">Camera 12</option>
                            <option value="13">Camera 13</option>
                            <option value="14">Camera 14</option>
                            <option value="15">Camera 15</option>
                            <option value="16">Camera 16</option>
                            <option value="17">Camera 17</option>
                            <option value="18">Camera 18</option>
                            <option value="19">Camera 19</option>
                            <option value="20">Camera 20</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="startdate">Start Date</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" id="startdate" placeholder="Start (yyyy-mm-dd)">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="enddate">End Date</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" id="enddate" placeholder="End (yyyy-mm-dd)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <label for="ip" class="col-form-label">Ip:</label>
                        <input type="text" class="form-control" id="ip">
                    </div>

                    <div class="form-group">
                        <label for="port" class="col-form-label">Port:</label>
                        <input type="text" class="form-control" id="port">
                    </div>

                    <div class="form-group">
                        <label for="rtsp-port" class="col-form-label">RTSP Port:</label>
                        <input type="text" class="form-control" id="rtsp-port">
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="username">
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" id="btn_savecamera">保存</button>
            </div>
        </div>
    </div>
</div>