{% extends 'layout/main.html' %}

{% block content %}
<div class="container">

    <div class="mt-5">
        <hr/>
        <div class="row mb-5">
            <div class="col-8">
                <h1>Camera</h1>
            </div>
            <div class="col-4 text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#addcameraModal"><i class="fas fa-plus"></i></button>
            </div>
        </div>

        <table id="tbl-main" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Ip</th>
                    <th>Port</th>
                    <th>RTSP Port</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in cameras %}
                <tr>
                    <td>{{ row.ip }}</td>
                    <td>{{ row.webport }}</td>
                    <td>{{ row.rtspport }}</td>
                    <td class="text-center">
                        <button class="btn btn-warning btn_infoeditcamera" data-cameraid="{{ row.cameraid }}"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-info btn_infocamera" data-cameraid="{{ row.cameraid }}"><i class="fas fa-info-circle"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% include 'setting/popup/addcamera.html' %}
{% include 'setting/popup/editcamera.html' %}
{% include 'setting/popup/detailcamera.html' %}

{% block scriptcustom %}
<!-- custom scripts -->
<script src="/static/js/setting/camera.js"></script>
{% endblock %}