{% extends 'layout/main.html' %}

{% block content %}
<div class="container">

    <div class="mt-5">
        <h1>User</h1>
        <hr/>
        <div class="row text-right mb-5">
            <div class="col-12">
                <button class="btn btn-dark" data-toggle="modal" data-target="#adduserModal"><i class="fas fa-plus"></i></button>
                <button class="btn btn-dark"><i class="fas fa-file-excel"></i></button>
            </div>
        </div>

        <table id="tbl-main" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Is Admin?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in users %}
                <tr>
                    <td>{{ row.username }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ "Yes" if row.isadmin == 1 else "No" }}</td>
                    <td class="text-center"><button class="btn btn-warning btn_infouser" data-toggle="modal" data-target="#edituserModal" data-user="{{ row }}"><i class="fas fa-edit"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% include 'user/popup/adduser.html' %}
{% include 'user/popup/edituser.html' %}

{% block scriptcustom %}
<!-- custom scripts -->
<script src="/static/js/user/user.js"></script>
{% endblock %}