<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://{{ baseurl }}/index"><img src="http://{{ baseurl }}/static/img/logo.jpg" width="150px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ptz/control">Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ptz/sdcard/root/0">SD Card</a>
            </li>
        </ul>
    </div>
</nav>