<aside id="meta" class="appear-metabox">
    <h1 id="loader">IP CAMERA - PTZ</h1>
    <ul class="dataBox sessionBox">
        <li class="dataBox-row">
            <div class="dataBox-cell">Session:</div>
            <div class="dataBox-cell application-session-id">d5c50d42</div>
        </li>
    </ul>

    <!--
    <nav class="dataBox sidebar-nav">
        <ul>
            <li class="list">
                <i class="fa fa-align-left fa-lg"></i>
                <span class="caret">Products</span>
                <ul class="nested">
                    <li class="list"><a href="#">Digital Signature</a></li>
                </ul>
            </li>
            <li class="list">
                <i class="fa fa-rocket fa-lg"></i>
                <span class="caret">Projects</span>
                <ul class="nested">
                    <li class="list"><a href="#">Digital Signature</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    -->
</aside>