<meta charset="UTF-8">

<title>IP CAMERA PTZ</title>

<meta name="description" content="" />
<meta name="keywords" content="">

<meta property="og:type" content="website" />
<meta property="og:url" content="http://localhost:3001/" />
<meta property="og:site_name" content="Your Site Name" />
<meta property="og:title" content="Your Application Title" />
<meta property="og:description" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="{{ basename }}/resources/css/main.min.css?v=100">
<link rel="stylesheet" href="{{ basename }}/resources/css/style.css">