<!-- Modal -->
<div class="modal fade" id="loadpositionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">呼び出すカメラ位置の名称を選択して下さい。</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="position-list">
                    <!--
                    <div class="row">
                        <div class="col-1">1</div>
                        <div class="col-7">Position-Name 1</div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary">移動</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger">delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>