{% extends 'layout/main.html' %}

{% block content %}
<div class="container">
    <div id="camera_list">
        <div class="row text-center">
            {% for row in cameras %}
            <div class="col-4">
                <div class="row p-1 m-2 bg-light">

                    <div class="col-12 mt-2">
                        <span>{{ row.companyname }} - {{ row.placename }}</span>
                    </div>
                    <div class="col-12 mt-2">
                        {% if row.onoff == 0 %}
                        <img src="/static/img/no-cctv-320.png" width="240px" height="200px" id="img_camera_{{ row.cameraid }}" />
                        {% else %}
                        <img src="http://153.126.161.130/{{ row.dockername }}/ptz/video_feed" width="240px" height="200px" id="img_camera_{{ row.cameraid }}" />
                        {% endif %}
                    </div>
                    <div class="col-12 mt-2">
                        <span>{{ row.ip }}</span>
                    </div>
                    <div class="col-12 mt-2">
                        <span>{{ row.cameraid }}</span>
                    </div>
                    <div class="col-12 mt-2">
                        <span>Camera-{{ row.positionorder }}</span>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="input-group input-group-lg">
                                <div class="col">
                                    {% if row.onoff == 0 %}
                                    <button class="btn btn-success btn_onoff" style="width:100%;" data-camera="{{ row }}">オン</button> <!-- ON -->
                                    {% else %}
                                    <button class="btn btn-danger btn_onoff" style="width:100%;" data-camera="{{ row }}">オフ</button> <!-- OFF -->
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <a class="btn btn-dark" style="width:100%;" href="http://153.126.161.130/{{ row.dockername }}/ptz/control"><i class="fas fa-eye"></i> コントロール</a> <!-- CONTROL -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scriptcustom %}
<!-- custom scripts -->
<script src="/static/js/app.js"></script>
{% endblock %}